.Why-Choose-Us {
    min-height: 300px;
    margin-top: 10%;
    display: flex;
}

.Grey-Div {
    background-color: #ededed;
    margin: 2%;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    padding-left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Grey-Div .container-fluid {
    display: flex;
    font-size: 13px;
    margin-right: 7%;
    margin: 8px;
    width: 20%;
}

.Grey-Div .row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 0px;
    line-height: 5px;
    margin-left: -20%;
}

.Grey-Div .row h5 {
    color: red;
    font-weight: 700;
}

.Grey-Div .row p {
    font-size: 12px;
}

.Orange-Div {
    background-color: #ff920a;
    height: 310px;
    width: 280px;
    position: absolute;
    z-index: 1;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.Orange-Div h5 {
    font-size: 32px;
    padding-left: 10px;
}

.Orange-Div p {
    font-size: 17px;
}

.Orange-Div {
    animation-name: example;
    animation-duration: 2s;
}

@keyframes example {
    0% {
        left: 100px;
    }
}

.fa-arrow-alt-circle-right {
    padding-left: 30px;
    font-size: 38px;
    position: relative;
    left: 16px;
    bottom: 10px;
}

@media screen and (max-width: 1150px) {
    .Orange-Div {
        color: black;
        width: 20%;
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .Orange-Div {
        width: 40px;
        height: 30px;
        bottom: 40px;
        display: none;
    }
    .Grey-Div .row {
        flex-wrap: wrap;
    }
}

nav > #nav-text {
    font-family: 'Kristi', cursive;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    opacity: 1;
    }
    
    .navbar-nav {
    opacity: 1;
    }
    
    .navbar-toggler-icon {
    opacity: 1;
    }
    
    #greeting-1 {
    padding-top: 5rem;
    opacity: 1;
    }
    
    #greeting-2 {
    padding-left: 5rem;
    padding-right: 5rem;
    opacity: 1;
    }
    
    .jumbotron-fluid {
        background-image:url("https://images.unsplash.com/photo-1561842761-ce09e82cdb59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100%;
        background-position: center bottom;
        opacity: 0.8;
      }

/*.top-partner * {
    outline: 1px solid red;
} */

footer {
    padding-bottom: 0;
}

footer a {
    text-decoration: none !important;
    color: #848d95;
}

footer a:hover {
    color: #ffffff;
}

footer > .container-fluid {
    background-color: #343c4d;
    color: white;
    padding: 20px 70px;
}

footer > div > div > div {
    margin-bottom: 20px;
}

footer li {
    list-style-type: none;
}

footer > div > div > div > ul {
    padding-left: 0;
}

footer > div > div > div:nth-child(1) > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-logo {
    height: 40px;
    width: 40px;
    border: 1px solid #4fbcb0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .fab, footer .fas {
    color: #4fbcb0;
}

.btn.btn-primary {
    background-color: #4fbcb0;
    border-color: #4fbcb0;
    opacity: 0.8;
}

.btn.btn-primary:hover {
    opacity: 1;
}

.about-us {
    background-color: #eff5f5;
}
.about-us .card-group {
    padding: 2% 7% 3% 7%;    
}
.about-us .card {   
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
}
.about-us .card-body {
    text-align: center;
}
.about-us .card-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #666666;
}
.about-us .card-text, .section-text {
    font-style: italic;
    font-size: 13px;
    color: #666666;
}
.section-text {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.about-us .card-footer {
    padding: 0;
    background-color: transparent;
    border-top: none;
}
.about-us .icon-block {
    text-align: center;
}
.about-us .fab {
    color: #9c9c9c;
    margin-left: 3%;
    font-size: 18px;
}
.about-us .section-header {
    padding-top: 4%;
}
.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-align: center;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.about-us hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 3px solid rgb(101, 247, 133);
    margin: 1em 0;
    margin-right: 46%;
    margin-left: 46%;
}
.card-img-top {
    width: 255px;
    height: 255px;
}
.col-lg-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}